body{background: #ebebeb;}
			/*主页导航*/
			.nav{width: 100%;height:100px;background: #fff;overflow: hidden;}
			.logo{padding-top: 16px;float: left;margin-right: 25px;}
			.sliderdown{width:136px ;height: 70px;float: left;padding-top: 38px;}
			.classify{border: none;font:18px "微软雅黑";font-weight: 600;color: #333;}
			.navtxt{width: 440px;height: 100px;float: left;margin-left: 30px;}
			.navtxt ul li{float: left;}
			.navtxt ul li:hover{border-bottom: 2px solid #FF0432;}
			.navtxt ul li:hover a{color: #FF0432;}
			#act{border-bottom: 2px solid #FF0432;}
			#act a{color: #FF0432;}
			.navtxt ul li a{display: block;font: 15px "微软雅黑";color: #333;padding: 42px 8px 5px 8px;font-weight: 600;}
			.timebox{width: 120px;height: 100px;text-align: right;font: 14px/1.5 "微软雅黑";color: #333;font-weight:600;float: left;padding: 25px 0 0 20px;border-left: 1px solid #eee;}.day{font-size: 18px;color: red;}
		   /*主页导航结束*/
		    .contain{padding: 10px 0 10px 0;}
		    .firstbox{width: 100%;height:360px;padding-bottom: 30px;}
		    .banner{float: left;height: 300px;margin-right: 10px;}
		    .login{width:240px ;height:300px ;background: #fff;float: left;text-align: center;}
		    .login p{font: 16px/3 "微软雅黑";color: #999;margin-top: -15px;}
		    .login p a{color: #333;}.login p a:hover{text-decoration: underline;color: #FF0432;}
		    .header{width: 130px;height: 100px;margin: 40px auto;border-radius: 70px;background: #dedede;padding-top: 30px;}
		    .testbox{width: 100%;height: 60px;margin-top: 10px;float: left;background: #fff;padding: 15px 0px 15px 0px;}
		    .testbox ul li{width: 24.9%;height:60px;border-right: 1px solid #ddd;float: left;cursor: pointer;}
		    .testbox ul li:last-child{border: none;}
		    .secondbox,.thirdbox{width: 100%;padding-top: 38px;height: 310px;}
		    .title1{width: 100%;height: 45px;} 
		    .title1 h3{ font:20px/1.5 "微软雅黑";color: #333;font-weight: 600;float: left;}
		    .title1 p a{float: right;font: 14px "微软雅黑";color: #666;}
		    .title1 p a:hover{text-decoration: underline;}
		    .cton{width: 100%;}.cton ul{width: 1010px;}
		    .cton ul li{width: 242px;height: 270px;background: #fff;float: left;margin-right: 10px;text-align: center;position: relative;cursor: pointer;transition: all ease-in-out 0.5s;}
		    .cton h3{font:16px /40px "微软雅黑";font-weight: 600;color: #333;}
			.cton p{font:12px /20px "微软雅黑";color: #666;}
			.cton span{padding-left: 25px;background: url(../img/iconstudy.png) no-repeat;}
			.cton p a{padding: 8px 30px;border: 1px solid #333;border-radius: 40px;color: #333;font: 14px "微软雅黑";position: absolute;bottom: 15px;left: 60px;transition: all ease-out 0.5s;}
			.cton p a:hover{background: #333;color: #fff;border: none;}
		    .cton ul li:hover{box-shadow: 1px 2px 6px #999;}
		    #divSmallBox{overflow:hidden;*display:inline;*zoom:1;width:10px;height:10px;margin:0 5px;border-radius:10px;background:#ffffff;}
			#playBox{ width:750px; height:300px; margin:0px auto; background:#333; position:relative; overflow:hidden;}
			#playBox .oUlplay { width:99999px; position:absolute; left:0; top:0;}
			#playBox .oUlplay li{ float:left;}
			#playBox .pre{ cursor:pointer; width:45px; height:45px; background:url(../img/l.png) no-repeat; position:absolute; top:130px; left:10px; z-index:10;display: none;}
			#playBox .next{ cursor:pointer; width:45px; height:45px; background:url(../img/r.png) no-repeat; position:absolute; top:130px; right:10px; z-index:10;display: none;}
			#playBox .smalltitle {width:750px; height:10px; position:absolute; bottom:15px; z-index:10}
			#playBox .smalltitle ul{ width:120px; margin:0 auto;}
			#playBox .smalltitle ul li{ width:10px; height:10px; margin:0 5px; border-radius:10px; background:#ffffff; float:left; overflow:hidden;*display:inline;*zoom:1;}
			#playBox .smalltitle .thistitle{ background:#69aaec;}
			#playBox:hover .pre,#playBox:hover .next{display: block;}
			.testbox ul li a{display: block;position:relative;}
			.testbox ul li a img{position: absolute;left: 60px;top: 12px;transition: all ease-in 0.5s;}
			.testbox ul li a h3{position: absolute;right: 65px;top: 19px;font:16px "微软雅黑";color: #333;font-weight: 600;transition: all ease-in-out 0.5s;}
			.testbox ul li:hover a img{left:50px ;}
			.testbox ul li:hover a h3{right: 50px;}
			.ttbox{width: 100%;height: 58px;padding-bottom: 20px;}.ttbox img{width: 100%;height: 100%;}
			.fourthbox{width: 100%;padding-top: 38px;height: 320px;overflow: hidden;}
		    .leftimg{width: 500px;height: 286px;float: left;}
		    .rightxt{width: 480px;float: left;height: 286px;background: #fff;padding: 10px;}.rightxt ul{width: 460px;padding: 10px;}
		    .rightxt ul li{width: 100%;text-align: left;height: 35px;}
		    .rightxt ul li a{font: 14px/2 "微软雅黑";color: #333;}
		    .rightxt ul li a:hover{text-decoration: underline;color: #FF0432;box-shadow: none;}
		    /*主页footer*/
		   .footer{width: 100%;height: 100px;margin-top: 38px;background: #fff;padding-top: 20px;}
		   .footer p{font: 14px/2 "微软雅黑";color: #333;}
		   .footer p a{color: #333;font: 14px/2 "微软雅黑"}
		   .footer p a:hover{color: #FF0000;}
		   .copy{border-top: 1px solid #CECBCF;padding-top: 15px;font: 12px "微软雅黑";color: #333;}
		   .copy a{color: #333;text-decoration: underline;}
		    /*主页footer结束*/